<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<link href="http://{siteurl}/templates/emailtpl/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-image: url('http://{siteurl}/templates/emailtpl/images/body_bg.jpg');background-repeat: repeat-x;background-color: #F4EEE7;background-position: top;">
<div class="main">
<div class="logo"><a href="http://{siteurl}" target="_blank"><img src="http://{siteurl}/templates/emailtpl/images/logo.gif"  border="0" /></a></div>
<div class="center">
<div class="xinxi">
  <p>
    <strong>尊敬的用户:</strong>    <br /><br />
您好！您的帐号是{username}(为安全起见，此邮件只显示帐号前三位，其他用*号替换)。
    <br />
    <br />
  </p>
  </div>
  <div><p>新密码：{passwd}<br /><br />
   感谢您使用密码找回服务，如果您需要了解更多相关的信息，请登录我们的网站 <br /><br />
   <a href="http://{siteurl}" target="_blank">http://{siteurl}</a>
  </p>    
  <br />
  <br /> 
  <p>--------------------------------------------------------------------</p>
<p>注：此邮件由系统自动发送，请勿回复</p>    
  <br />
  </div>
</div> 
</div>
</body>