<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<link href="http://{siteurl}/templates/emailtpl/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-image: url('http://{siteurl}/templates/emailtpl/images/body_bg.jpg');background-repeat: repeat-x;background-color: #F4EEE7;background-position: top;">
<div class="main">
<div class="logo"><a href="http://{siteurl}" target="_blank"><img src="http://{siteurl}/templates/emailtpl/images/logo.gif"  border="0" /></a></div>
<div class="center">
<div class="xinxi">
  <p>
    <strong>尊敬的会员{username}，您好:</strong>    <br /><br />
    <br />
  </p>
 
  <p>本次已为您结算了￥{pay}请注意查收<br /><br /><br /> </p><p>--------------------------------------------------------------------</p>
<p>注：此邮件由系统自动发送，请勿回复</p>    
  <br />
  </div>
</div> 
</div>
</body>