<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<link href="http://{siteurl}/templates/emailtpl/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-image: url('http://{siteurl}/templates/emailtpl/images/body_bg.jpg');background-repeat: repeat-x;background-color: #F4EEE7;background-position: top;">
<div class="main">
<div class="logo"><a href="http://{siteurl}" target="_blank"><img src="http://{siteurl}/templates/emailtpl/images/logo.gif"  border="0" /></a></div>
<div class="center">
<div class="xinxi">
  <p>
    <strong>尊敬的会员{username}，您好:</strong>    <br /><br />
恭喜您已注册成功了！您的登陆名为：{username}
    <br />
    <br />
  </p>
  </div>
  <div><p>用户名信息用来登录 <a href="http://{siteurl}/index.php?action=login" target="_blank">会员后台</a><br /><br />
    获取代码流程如下: 注册——〉登录——〉选择广告——〉获取代码  </p>    <br /><br />
  <p>注册完毕后请您登陆会员后台,尽快新增网站;<a href="http://{siteurl}/index.php?action=login" target="_blank">立即登录</a><br /><br /><br /> </p><p>--------------------------------------------------------------------</p>
<p>注：此邮件由系统自动发送，请勿回复</p>    
  <br />
  </div>
</div> 
</div>
</body>