* {margin:0;padding:0}
body {
	padding:0;
	text-align:left;
	font-family:ו,Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #8B8B8B;
	text-decoration: none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
ol,ul,li,dl,dt,dd { list-style:none;}
ul,li {margin:0;padding:0;}
.clear { clear:both;}
img { border:0;}
a,a:visited {
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
.main{
	background-color: #FFFFFF;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	border: 1px solid #C4C4C4;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #DBDBDB;
	padding:10px;
}
.center{
	margin: 0px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	padding-top: 0px;
	color: #000;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.xinxi {
	line-height: 18px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}