html
{
	background:#FFF none repeat scroll 0 0;
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,iframe
{
	margin:0;
	padding:0;
}

body,p,th,td,select,textarea
{
	font-family:Verdana,ËÎÌå;
	font-size:12px;
}

select
{
	font-family:inherit;
	font-size:13px;
	padding:1px;
}

input
{
	font-size:14px;
	margin:-1px 0;
	padding:2px;
}

.input_d
{
	border-bottom:#39c 1px solid;
	border-left:#39c 1px solid;
	padding-bottom:0;
	background-color:#f4f8fa;
	padding-right:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:18px;
	color:#369;
	font-size:12px;
	border-top:#39c 1px solid;
	border-right:#39c 1px solid;
	padding-top:5px;
}

.button_b
{
	padding-left:18px;
	padding-right:15px;
	text-align:center;
	height:24px;
	font-size:14px;
	cursor:pointer;
	margin-left:20px;
}

th,td
{
	margin:0;
	padding:0;
}

th
{
	font-style:normal;
	font-weight:normal;
	margin:3px;
	padding:3px;
}

td
{
	margin:3px;
	padding:3px;
}

table
{
	border-spacing:0;
	border-collapse:collapse;
	border-width:0;
}

fieldset
{
	border-width:0;
}

img
{
	border:0 none;
}

h1,h2,h3,h4,h5,h6
{
	font-size:100%;
}

ul
{
	margin:0;
	padding:0;
}

li
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
a
{
	color:#069;
}

a:hover
{
	color:#ff7e00;
}
a.head_nav:link,a.head_nav:visited,a.head_nav:active
{
	color:#369;
}

a.text1:link,a.text1:visited,a.text1:active
{
	color:#07679C;
	text-decoration:underline;
}

a.head_nav:hover,a.text1:hover
{
	color:#FF7E00;
	text-decoration:underline;
}

.header_menu
{
	
	background:#0A696E url(images/topbg.gif) repeat-x scroll left top;
	color:#FFF;
	font-size:14px;
	font-weight:700;
	height:35px;
	width:100%;
}

.header_menu .shell,.pro_menu .shell
{
	width:910px;
	margin:0 auto;
}

.clear
{
	height:1%;
}

.header_menu a
{
	color:#FFF;
	height:29px;
	line-height:35px;
	display:block;
	text-decoration:none;
	width:110px;
}

.header_menu .shell li,.pro_menu .shell li
{
	text-align:center;
	float:left;
	width:110px;
}

.header_menu .shell li.current1 a,.header_menu .shell li.current1 a:hover
{
	background:transparent url(images/top_nav.gif) no-repeat scroll -2px -110px;
	color:#000;
	display:block;
	height:32px;
	line-height:32px;
	margin-top:3px !important;
	width:110px;
}

.header_menu ul.clear li a:hover
{
	background:transparent url(images/top_nav.gif) no-repeat scroll -2px -45px;
	display:block;
	height:30px;
	line-height:30px;
	margin-top:2px !important; 
	margin-top:3px;
	text-decoration:none;
	width:110px;
	color:#fff;
}

.pro_menu
{
	
	background:#F1F1F1 url(images/topbg.gif) repeat-x scroll 0 -35px;
	color:#000;
	font-size:12px;
	height:36px;
	width:100%;
}

.pro_menu .shell
{
	width:910px;
	margin:0 auto;
}

.pro_menu .shell ul li
{
	text-align:center;
	float:left;
	background:url(images/topbg.gif) no-repeat right -71px;
	height:36px;
	width:94px;
	padding-left:5px;
	padding-right:5px;
}

.pro_menu a,.pro_menu span
{
	line-height:20px;
	margin-top:10px;
	width:94px;
	display:block;
	height:20px;
	color:#000;
	text-decoration:none;
}

.pro_menu a:hover
{
	line-height:20px;
	margin-top:10px;
	width:94px;
	display:block;
	background:url(images/top_nav.gif) no-repeat 0 -144px;
	height:20px;
	text-decoration:none;
	color:#000;
}

.pro_menu .shell li.default a
{
	line-height:20px;
	margin-top:10px;
	width:94px;
	display:block;
	background:url(images/top_nav.gif) no-repeat 0 -166px;
	height:20px;
	color:#fff;
	text-decoration:none;
}

.main
{
	width:910px;
	overflow:hidden;
	margin:5px auto 20px;
}


.main a
{
	color:#069;
	font-size:12px;
	font-weight:normal;
}

.main a:hover
{
	color:#ff7e00;
	font-size:12px;
	font-weight:normal;
}

.main .left
{
	width:650px;
	float:left;
	margin-right:20px;
	_margin-right:15px;
}

.left h2
{
	position:relative;
	font-size:14px;
	margin:25px auto 7px;
}

.left h2 span
{
	position:absolute;
	font-size:12px;
	right:1px;
}

.left ul li
{
	display:block;
	margin-bottom:15px;
}

.left ul span
{
	text-align:right;
	width:150px;
	display:inline-block;
}

.left ul strong
{
	font-family:Verdana, Geneva, sans-serif;
	color:#f63;
	margin-right:5px;
}

.wrap
{
	table-layout:fixed;
}

.left .tb0
{
	margin-bottom:32px;
}

.tb0 th
{
	background-color:#dceaec;
	height:30px;
}

.tb0 td
{
	text-align:center;
	height:40px;
	font-size:12px;
	border-bottom:#ccc 1px dotted;
}

.tblistnull td
{
	border-bottom:#ccc 0 dotted;
}

.main .right
{
	border-left:#ddd 1px solid;
	margin-top:26px;
	padding-left:20px;
	width:200px;
	float:left;
}

.right h2
{
	margin-bottom:10px;
	font-size:14px;
}

.right ul li
{
	text-indent:1em;
	height:24px;
}

.right .news
{
	background:url(images/top_nav.gif) no-repeat -143px -45px;
}

.right span
{
	display:block;
	font-size:12px;
	margin:0 0 8px;
}

.right a
{
	line-height:24px;
	color:#069;
}

.right a:hover
{
	line-height:24px;
	color:#ff7e00;
}

.submit-x
{
	cursor:pointer;
	background-color:#fff;
	background-image:url(images/submit-x.jpg);
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:center;
	border:0 solid #000;
	text-align:center;
	width:48px;
	color:#000;
	height:23px;
	line-height:25px;
}
.f14b{
	 font-size:14px; 
	 font-weight:bold;
}
 a.gct
{
	background:transparent url(images/top_nav.gif) no-repeat -1px -1px;
	display:block;
	height:22px;
	line-height:22px;
	width:99px;
	float:left;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#069;
}

a.gct:hover,a.adgct:hover
{
	color:red;
}

a.adgct
{
	background:transparent url(images/top_nav.gif) no-repeat 0 -23px;
	padding-left:10px;
	display:block;
	height:22px;
	line-height:22px;
	width:121px;
	float:left;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#069;
}
#wrapper
{
	width:100%;
	margin:20px auto 0;
}

#wrapper .box
{
	background:#fff;
	overflow:hidden;
	height:1%;
}

#wrapper .boxholder
{
	clear:both;
	background:#06656A;
	padding:5px;
}

#wrapper .tab
{
	float:left;
	height:32px;
	width:107px;
	text-align:center;
	background:#06656A url(images/tab.jpg) no-repeat;
	margin:0 1px 0 0;
}

#wrapper .tab1
{
	background:#06656A url(images/tab1.jpg) no-repeat;
	height:32px;
	margin-left:5px;
	margin-right:5px;
}

#wrapper .tabtxt
{
	color:#fff;
	font-size:12px;
	font-weight:700;
	margin:0;
	padding:9px 0 0;
}

#wrapper #content .tab  a
{
	color:#fff;
	text-decoration:none;
}

#wrapper #content .tab a:hover
{
	color:#ff7e00;
}

#wrapper #content .tab1 a
{
	color:#000;
	text-decoration:none;
}

#wrapper #content p
{
	line-height:1.5em;
	text-align:justify;
	border-bottom:1px solid #9DB0BC;
	margin:0;
	padding:5px;
}

.info
{
	background:transparent url(images/top_nav.gif) no-repeat -158px -1px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:700;
	padding-left:30px;
}

.tbr,tbr1
{
	border-collapse:collapse;
	border:none;
	margin-top:20px;
	color:#000;
}

.tbr1 td
{
	border:solid #e5e5e5 1px;
}

.tbr td,.tbr th
{
	border:solid #9db0bc 1px;
}

.tbr th
{
	height:22px;
	background-color:#DCEAEC;
	text-align:left;
	padding-left:8px;
}

.tbr td
{
	text-align:left;
	padding-left:8px;
}
.planlist .tbr1 td{
	padding:3px;
}
.planlist,.planads,.zonelist,.statslist,.userinfo,.paylist,.pmlist
{
	width:890px;
	overflow:hidden;
	margin:5px auto 20px;
}



.planlist h2
{
	position:relative;
	font-size:14px;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:#e9e9e9 1px solid;
	margin:15px auto 7px;
}

.planlist td
{
	margin:0;
	padding:0;
}

.planlist .b0,.submit-x
{
	
	background:transparent url(images/top_nav.gif) repeat scroll -13px -230px;
	color:#FFF;
	float:left;
	font-size:12px;
	height:27px;
	line-height:27px;
	text-align:center;
	width:90px;
	margin:0;
}

.b0 a,.submit-x a
{
	color:#FFF;
	text-decoration:none;
}

.b0 a:visited
{
	color:#FFF;
	text-decoration:none;
}

.b0 a:hover
{
	color:#FF7E00;
	text-decoration:underline;
}

.b0 a:active
{
	color:#FF7E00;
}

.t_tb
{
	border-bottom:#9db0bc 1px solid;
	border-left:#9db0bc 1px solid;
	background-color:#f0f3f5;
	margin-top:20px;
	border-top:#9db0bc 1px solid;
	border-right:#9db0bc 1px solid;
	padding:20px;
}

.planads .tul
{
	position:relative;
	font-size:14px;
	padding-bottom:0;
	padding-top:3px;
	border-bottom:#12767A 3px solid;
	height:23px;
	margin:15px auto 7px;
}

.planads .tul li
{
	float:left;
	width:110px;
	height:23px;
	color:#FFF;
	text-align:center;
	line-height:23px;
}

.planads .tul .d
{
	background-color:#12767A;
}

.planads .tul .r
{
	position:absolute;
	right:5px;
	font-size:12px;
}

.planads .tul a
{
	font-size:13px;
	text-decoration:none;
	color:#000;
}

.planads .tul .d a
{
	color:#FFF;
}

.planads .y
{
	margin-top:20px;
	font-size:14px;
	font-weight:700;
	border-bottom:#12767A 1px dashed;
	height:23px;
}

.adsspecs
{
	overflow:hidden;
	width:730px;
}

.adsspecs li
{
	float:left;
	width:180px;
	height:30px;
	line-height:30px;
}

.zonelist h2,.statslist h2,.userinfo h2,.paylist h2
{
	position:relative;
	font-size:14px;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:#e9e9e9 1px solid;
	margin:15px auto 7px;
}

.zonelist th
{
	 
	 
}

.zonelist .tb0 td
{
	 
	/*border-bottom:#e9e9e9 0 solid;*/
}

.zonelist .tb0 td a
{
	text-decoration:none;
	font-size:12px;
	font-weight:normal;
}
.checksite p{
	height:28px;	
}
.checksite  label.cktab{
  	 padding-left:6px;
	 height:23px;
	 width:180px;
	 font-weight:bold;
	 padding-top:5px;
	 display:block;
	 float: left;
}
.checksite .active {
	background:transparent url(images/top_nav.gif) no-repeat scroll -0px -260px;
}
.checksite .text{
	background-color:#FFFCE9;
	border-color:#FDCE74;
	border-right:1px solid #FDCE74;
	border-style:solid;
	border-width:2px 1px 1px;
	padding:3px;
	padding-left:10px;
	width:500px;
	color:#666666;
}
 
.pmlist .pmleft{
	float:left;
	width:160px;
}

.pmleft .menu  {
	background:url(images/bg_1x223.gif) no-repeat scroll right bottom transparent;
	clear:both;
	margin:0;
	padding-bottom:203px;
	width:100%;
}

.pmleft .menu ul {
	border-right:1px solid #CBCBCB;
	list-style-type:none;
	margin-top:20px;
	padding:0 0 0 15px;
}

.pmleft .menu  ul li {
	display:block;
	margin:0 0 6px;
	padding:0;
}

.pmleft .menu  ul li a {
	background:transparent url(images/top_nav.gif) no-repeat scroll -0px -332px;
	color:#4D4D4D;
	display:block;
	height:28px;
	line-height:28px;
	text-decoration:none;
	text-indent:20px;
	width:137px;
}
.pmleft .menu  ul li.default a {
	background:transparent url(images/top_nav.gif) no-repeat scroll -0px -296px;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	height:33px;
	line-height:33px;
	margin-right:-1px;
	width:145px;
}
.pmlist .content{
	margin:0;
	position:relative;
	width:700px;
	margin-top:20px; 
	float:right;
}
.pmlist .content h3 {
	border-bottom:1px solid #DCDCDC;
	font:18px/38px ºÚÌå;
	height:38px;
	margin:0 auto;
}


.pmlist ul li.addpm {
	background:transparent url(images/top_nav.gif) no-repeat scroll -188px -72px;
	padding-left:13px;
	margin-left:10px;
	margin-top:20px;
	color:#369;
	text-decoration:underline;
	cursor:pointer;
}


.tsp a,.tsp
{
	color:#069;
	font-size:12px;
	font-weight:normal;
}

.tsp a:hover,.zonelist .tb0 td a:hover
{
	color:#FF7E00;
	text-decoration:underline;
}

.f_12px
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif, "ËÎÌå";
	color:#369;
}

.f_12px td
{
	height:35px;
	padding:3px;
}

.footer
{
	width:910px;
	text-align:center;
	line-height:20px;
	color:#666;
	font-size:12px;
	border-top:#1a84a6 1px solid;
	padding-top:10px;
	margin:15px auto 0;
}

.tipinfo
{
	margin-top:10px;
	height:30px;
	width:100%;
}

.tipinfo .text
{
	background:transparent url(images/ico16.gif) no-repeat scroll 18px 8px;
	line-height:30px;
	color:#FFF;
	padding-left:38px;
	background-color:#B00;
}

.tipinfo .r1,.tipinfo .l2
{
	background-color:#B00;
	border-left:1px solid #E79F9F;
	border-right:1px solid #E79F9F;
	padding-top:1px;
	margin:0 1px;
}

.tipinfo .r2,.tipinfo .l1
{
	background-color:#B00;
	border-left:1px solid #E79F9F;
	border-right:1px solid #E79F9F;
	padding-top:1px;
}

.p_z_bar
{
	float:right;
	margin-top:15px;
}

.p_z_bar a
{
	font-size:12px;
	text-decoration:none;
	padding:1px 4px;
}

.p_z_bar a:hover
{
	color:#ff7e00;
}

.p_z_input
{
	width:40px;
	height:16px!important;
	border:1px solid #A7A6AA;
	margin:0;
	padding:0;
}
#Zyiis_D td {
	margin:0px;
	padding:0px;
 
}
#Zyiis_tab1 input{
	margin:0px;
	padding:0px;
}
#zoneyjbox a{
	display:block;
	width:30px;
	height:30px;
	border:1px solid #000;
	cursor:pointer;
	margin-left:3px;
}
#zoneyjbox a:hover{
	display:block;
	width:30px;
	height:30px;
	border:1px solid #ff0000;
	cursor:pointer;
}
.zone_tip{
	 
}
.jful li.jfli1{
	float:none;
	padding-bottom: 10px;
	line-height: 100%;
	text-align: left;
	width: 170px;
	
}
.jful {
	list-style:square outside;
	text-align:center;
 
	 
}
.jful li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0px;
 
	float:left;
	line-height:160%;
	padding-bottom:30px;
	width: 170px;
	
}
.jful li img {
	border:1px solid #C8C8C8;
	margin-bottom:5px;
	width:120px;
	height:90px;
}
.jfnum {
	color: #E77116;
	margin-right: 5px;
	font-weight: bold;
}

.jftb td{
	padding-left:5px;
}

.jftb li{
	margin-top:10px;
	padding-bottom:1px;
	width: 58px;
	 
} 

.tb2 {
	}.tb2 h3 {
	color:#525D66;
	font-size:14px;
	margin:0 0 4px 0;
	line-height:1.2;
}
.tb2 ul {
	list-style:square outside;
	color:#78838C;
	line-height:2;
	margin:0;
	margin-left:14px;
	padding:0;
	
}
.tb2 ul  li{
	list-style: square outside;
	list-style-type: square;
	list-style-position: outside;
}

.bd1c {
	border-bottom:#CCCCCC dotted 1px;
	padding-bottom:10px;
}
.bl1c {
	border-left:#CCCCCC dotted 1px;
	padding-bottom:10px;
}